body{
    background-color: #2b2b2b;
    margin: 0px;
    height: 100%;
}

.top {
    background-color: #373737;
    overflow: hidden;
    padding:0.5%;
    text-align: center;
    color: #ffffff;
    /* top:0%; */
  }
@font-face {
    font-family: DMSans;
    src: url(fonts/DMSans/DMSans.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/RobotoMono/RobotoMono.ttf);
}
  
/* TOP BAR */
.top hbar {
    float:none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: DMSans;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2b2b2b;
    height: 1035px;
}

/* GAME SIDEBAR */

.stats {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 15px;
    float : left;
    width: 300px;
    background-color: #262626;
    font-size: 30px;
    height: 100%;
}

.inventory {
    background-color: #373737;
    height: fit-content;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align:center;
}

.location {
    background-color: #373737;
    height: fit-content;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: center;
}

.instructs {
    background-color: #373737;
    height: 250px;
    margin: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GAME INPUT */

.game {
    width: 1550px;
    height: 1000px;
}

.input {
    background-color: #373737;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    color: #ffffff;
    height: 1px;
    width: 1400px;
    margin: 20px;
    text-wrap: pretty;
    margin-top: 50px;
    white-space:pre-wrap;
    vertical-align: text-top;
    text-align: left;
    padding: 2%;
}

/* GAME MAIN */

.prompts {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 925px;
    max-height: 925px;
    overflow-y:scroll;
    scrollbar-width:none;
    /* overflow: hidden; */
}

.prompt {
    background-color: #373737;
    border-radius: 5px;
    border: 2px solid #272727;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    color: #ffffff;
    height: fit-content;
    width: 1400px;
    margin: 20px;
    text-wrap: pretty;
    white-space:pre-wrap;
    vertical-align:middle;
    text-align: left;
    padding: 2%;
    /* letter-spacing: 1px; */
}


/* TEXT THINGS */
.subtitle{
    float:none;
    color: #d9d9d9;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}

.subtext{
    float:none;
    color: #d9d9d9;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto;
    padding: 2%;
}

.subsmall{
    float:none;
    color: #d9d9d9;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    padding: 10%;   
}